body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #0c7ff3;
    margin: 50px;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: inline-block;
    width: 300px;
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

.eid-image {
    width: 100%;
    border-radius: 10px;
}

h1 {
    color: #27ae60;
}

input {
    width: 90%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

button {
    background-color: #27ae60;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #219150;
}
